- var nav_head= ['Мебель', 'Свет', 'Статьи', 'О компании', 'Контакты'];
- var nav_menu = ['one', 'two', 'three'];
- var nav_left = ['Диваны', 'Кровати', 'Столы', 'Кресла', 'Стулья'];
- var nav_right = ['Люстры', 'Торшеры', 'Бра', 'Настольный свет', 'Подсветка', 'Уличный свет'];
- var footer_links = ['Главная', 'О компании', 'Контакты'];



