.bx-wrapper {
	top:-97px;
	margin-bottom: -60px;
	position:relative;

	img {
		width: 100%;
	}

}

.bx-viewport {
	border: none !important;
	position: static !important;
}

.bx-controls.bx-has-pager {
	margin: 0 auto;
   width: 940px;
}