include _helpers/_mixins
include _helpers/_vars

doctype html

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

html(lang="ru-RU")
	head

		include _common/_head-meta

		title
			block title

		include _common/_head-bottom
			
	body
		<!--[if lt IE 8]>
		p.old-browsers Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href='http://browsehappy.com/'>используйте последние версии браузеров</a>, чтобы все были счастливы.
		<![endif]-->

		.wrapper
			.maincontent

				block header

				block content
					
		include _common/_footer
		include _common/_script
				

