.head-bottom {
	display: none;
	background-color: rgba(85, 85, 85, 0.6);
	position: absolute;
	left:0;
	right: 0;
	z-index:2;
}

.header-top {
	height: 77px;
	background-color: rgba(85, 85, 85, 0.6);
	position: relative;
	z-index:2;
}

.header-top__left {
	position: absolute;
	top:7px;
	left:37px;

	.logo {
	@include inlineblock(middle);

		&:after {
			content:'';
			display: block;
			position: absolute;
			top: 47px;
			left: -16px;
			@include get-sprite($general-sprite, logo_text);
			height: 14px;
		}

		&:hover {

			&:after {

				@include get-sprite($general-sprite, logo_text_hover);
				content:'';
				display: block;
				position: absolute;
				top: 47px;
				left: -16px;
				height: 14px;
			}
		}
	}
}

.header-top__right {
	position: absolute;
	top:30px;
	right: 48px;
}

.logo__img {
	display: block;
	max-width: 52px;
	padding-bottom: 10px;
}

.logo__text {
	position: absolute;
	top: 0;
	left: -99999px;
}

.phone {
	@include inlineblock(middle);
	color: $main_white;
	font-family: $font-medium;

}

.menu {
	@include inlineblock(middle);
	position: relative;
	margin-left: 30px;
	padding-right: 10px;
	cursor: pointer;
	opacity: 0.7;
	font-size: $font-size_main - 4px;
	font-family: $font-light;
	@include transition(.3s);

	&:after {
		content:'';
		display: inline-block;
		right: -20px;
		position: absolute;
		@include get-sprite($general-sprite, burger); 

	}

	&:hover {
	opacity:1; 
			
	}
}

.info {
	float:right;
	background-color: #e1e1e1;
	font-size: 14px;
	height: 38px;
   color: #959595;
   font-family: $font-light;
}

.info__basket {
	@include inlineblock(top);
	position: relative;
	width: 41px;
	height: 38px;

	&:after {
		content:'';
		display: block;
		@include center;
		@include get-sprite($general-sprite, corzina); 

	}
}

.info__count {
	@include inlineblock(top);
	height: 38px;
	line-height: 38px;
	padding: 0 15px 0 5px;
}

.info__cost {
	@include inlineblock(top);
	text-align: center;
	position: relative;
	min-width: 88px;
	height: 38px;
	line-height: 38px;

	&:before {
		content:'';
		position: absolute;
	   top: 9px;
	   left: 0;
	   width: 1px;
	   height: 20px;
	   background: #d6d5d5;
	}
}

.info__sound {
	@include inlineblock(top);
	position: relative;
   width: 37px;
   height: 38px;
   background: #c3c2c2;
   cursor:pointer;

   &:after {
   	content:'';
   	display: block;
   	@include center;
   	@include get-sprite($general-sprite, sound);

   }
}

.seach {
	@include placecolor($color:#fff);
	float:right;
	position: relative;
   margin-left: 10px;
   padding-right: 15px;
   padding-left: 30px;
   padding-top: 7px;
   font-size: 0;

   &:before {
		content:'';
		position: absolute;
    	top: 4px;
    	left: 20px;
    	width: 1px;
    	height: 27px;
    	background: #fff;
	}
}

.seach__submit {
	width: 55px;
	height: 38px;
	margin-left: 10px;
	position: relative;
	border:none;
	@include get-sprite($general-sprite, seach_header);
}

.seach__input {
	width: 160px;
   margin: 0;
   padding: 0;
   border: none;
   outline:none;
   border-bottom: 1px solid #fff;
   padding-left: 10px;
   font-size: 14px;
   line-height: 16px;
   color: #fff;
   background: transparent;
}
.nav-header {
	float:right;
}

.nav-header__list {
	padding-top: 8px;
}
.nav-header__item {
	@include inlineblock(middle);
	margin-left: 45px;

	&:first-child {
		margin-left: 0;
	}
}

.nav-header__link {
	color:$main_white;
	font-family: $font-roman;


	&:hover {
		text-decoration:underline;
	}
}

.header-menu {
	top: 77px;
	position: absolute;
}

.nav-header__list {
	@include inlineblock(middle);
	margin: 0 auto;
}

.nav-header__item {
	@include inlineblock(middle);
}
.header-title {
	position: absolute;
	top:50%;
	margin-top: -20px;
}

.header-title__text {
	margin: 0;
	padding: 0;
	font-size: $font-size_main * 2;
	font-family: $font-thin;
	color: $main_black_text;
}

.header-title__text-bold {
	font-family: $font-bold;
}
