// Colors
$main_white: #fff;
$main_black_text: #000;
$main_green: #84d79e;
$main_grey_text: #959595;


// Setting
$footer-height: 222px;
$container-width: 940px;

// Fonts
$font-size_main: 18px;
$font-main: 'HelveticaNeueCyrLight', sans-serif;
$font-medium: 'HelveticaNeueCyrMedium';
$font-bold: 'HelveticaNeueCyrBold';
$font-anahit_regular: 'AnahitRegular';
$font-light: 'HelveticaNeueCyrLight';
$font-thin: 'HelveticaNeueCyrThin';

//Paths
$path-images: '../img';
$path-fonts: '../fonts/';
